* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    background-color: rgb(82, 86, 89);
}

.box-shadow {
    -webkit-box-shadow: 2px 3px 8px rgb(40, 40, 40);
    -moz-box-shadow: 2px 3px 8px rgb(40, 40, 40);
    box-shadow: 2px 3px 8px rgb(40, 40, 40);
}

#header-bar {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: rgb(50, 54, 57);
    -webkit-box-shadow: 2px 3px 8px rgb(40, 40, 40);
    -moz-box-shadow: 2px 3px 8px rgb(40, 40, 40);
    box-shadow: 2px 3px 8px rgb(40, 40, 40);
}

#title-container {
    width: calc(50% - 320px / 2);
    height: 100%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#empty-container {
    width: calc(50% - 320px / 2);
    height: 100%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#title {
    margin-left: calc(75px / 3);
    color: rgb(239, 239, 239);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#text-area-container {
    margin-top: 2px;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#text-area {
    width: 215px;
    height: 35px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border: 0;
    text-indent: 10px;
    color: rgb(68, 68, 68);
}

#brainstorm {
    width: 95px;
    height: 35px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 0;
    background: rgb(39, 233, 192);
    cursor: pointer;
    -webkit-appearance: none;
}

#brainstorm:hover {
    background-color: rgb(29, 223, 182);
}

#brainstorm:active {
    background-color: rgb(19, 213, 172);
}

#svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}