<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainstormer</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/d3@6.2.0/dist/d3.min.js"></script>
</head>

<body>
    <div id="title-container" class="box-shadow">
        <h1 id="title">Brainstormer</h1>
        <textarea id="text-area" maxlength="20" placeholder="Please type any text to begin"></textarea>
        <button id="brainstorm">Brainstorm</button>
    </div>
    <div id="svg-container"></div>
    <script src="js/main.js"></script>
</body>

</html>